/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-links a.active {
    color: #ccc;
}

.burger {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.burger span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.carousel-item {
    height: 455px; /* Set the desired height */
  }

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    .nav-links.show {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
    }
}